# cloud.sene.ovh - Victor
server {
    listen  80;
    server_name cloud.sene.ovh;
    return 301 https://cloud.sene.ovh/;
}
server{
    listen       443;
    server_name  cloud.sene.ovh;
    set $container 'nextcloud:8888'; 
  
    include proxy.conf;

    include tls.conf;
}

# stream.sene.ovh - Victor
server {
    listen  80;
    server_name stream.sene.ovh;
    return 301 https://stream.sene.ovh/;
}
server{
    listen       443;
    server_name  stream.sene.ovh;

    set $container '151.80.40.172:8096';

    include proxy.conf;

    include tls.conf;
    
}

# musique-meyenheim.fr - Paul
server {
    listen  80;
    server_name musique-meyenheim.fr www.musique-meyenheim.fr;
    return 301 https://musique-meyenheim.fr/;
}
server{
    listen       443;
    server_name  musique-meyenheim.fr;
   
    set $container 'musique';

    include proxy.conf;

    include tls.conf;
 
}
