# Nextcloud - cloud.sene.ovh
server {
    listen 80;
    listen [::]:80;
    
    client_max_body_size 10G;
    server_name cloud.sene.ovh www.cloud.sene.ovh;
    return 301 https://cloud.sene.ovh/;
}
server{
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    
    server_name  cloud.sene.ovh;
    
    client_max_body_size 10G;
    
    ssl_certificate /etc/letsencrypt/live/cloud.sene.ovh/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/cloud.sene.ovh/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/cloud.sene.ovh/fullchain.pem;
  
    location / {
        proxy_pass http://nextcloud:8888/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    include tls.conf;
}
# Nextcloud Collaborative Tools - office.sene.ovh
server {
    listen 80;
    listen [::]:80;
    
    server_name office.sene.ovh www.office.sene.ovh;
    # static files
    location ^~ /loleaflet {
        proxy_pass https://nextcloud-collaborative:9980;
        proxy_set_header Host $http_host;
    }

    # WOPI discovery URL
    location ^~ /hosting/discovery {
        proxy_pass https://nextcloud-collaborative:9980;
        proxy_set_header Host $http_host;
    }

    # websockets, download, presentation and image upload
    location ^~ /lool {
        proxy_pass https://nextcloud-collaborative:9980;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $http_host;
    }
    
}
server{
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    
    server_name  office.sene.ovh;
    
    ssl_certificate /etc/letsencrypt/live/office.sene.ovh/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/office.sene.ovh/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/office.sene.ovh/fullchain.pem;
  
    # static files
    location ^~ /loleaflet {
        proxy_pass https://nextcloud-collaborative:9980;
        proxy_set_header Host $http_host;
    }

    # WOPI discovery URL
    location ^~ /hosting/discovery {
        proxy_pass https://nextcloud-collaborative:9980;
        proxy_set_header Host $http_host;
    }

    # websockets, download, presentation and image upload
    location ^~ /lool {
        proxy_pass https://nextcloud-collaborative:9980;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $http_host;
    }
    include tls.conf;
}

# Emby - stream.sene.ovh
server {
    listen 80;
    listen [::]:80;
    
    server_name stream.sene.ovh www.stream.sene.ovh;
    return 301 https://stream.sene.ovh/;
}
server{
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    
    server_name  stream.sene.ovh;

    ssl_certificate /etc/letsencrypt/live/stream.sene.ovh/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/stream.sene.ovh/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/stream.sene.ovh/fullchain.pem;
  
    location / {
        proxy_pass http://151.80.40.172:8096/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    include tls.conf;
    
}

# musique-meyenheim.fr - Paul
server {
    listen 80;
    listen [::]:80;
    
    server_name musique-meyenheim.fr www.musique-meyenheim.fr;
    return 301 https://musique-meyenheim.fr/;
}
server{
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    
    server_name  musique-meyenheim.fr;

    ssl_certificate /etc/letsencrypt/live/musique-meyenheim.fr/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/musique-meyenheim.fr/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/musique-meyenheim.fr/fullchain.pem;
  
    location / {
        proxy_pass http://musique/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    include tls.conf;
 
}

# Seedbox - seed.sene.ovh
server {
    listen 80;
    listen [::]:80;
    
    server_name seed.sene.ovh www.seed.sene.ovh;
    return 301 https://seed.sene.ovh/;
}
server{
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    
    server_name  seed.sene.ovh;

    ssl_certificate /etc/letsencrypt/live/seed.sene.ovh/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/seed.sene.ovh/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/seed.sene.ovh/fullchain.pem;
  
    location / {
        proxy_pass http://transmission.vic:9091/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        
        auth_basic "Lorsqu'un pancake tombe dans la neige avant le 31 décembre, on dit que :";
        auth_basic_user_file .htpasswd;
    }

    include tls.conf;
 
}

# Seedbox - seed.nyanlout.re
server {
    listen 80;
    listen [::]:80;
    
    server_name seed.nyanlout.re www.seed.nyanlout.re;
    return 301 https://seed.nyanlout.re/;
}
server{
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    
    server_name  seed.nyanlout.re;

    ssl_certificate /etc/letsencrypt/live/seed.nyanlout.re/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/seed.nyanlout.re/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/seed.nyanlout.re/fullchain.pem;
  
    location / {
        proxy_pass http://transmission.paul:9091/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        
        auth_basic "Bruh";
        auth_basic_user_file .htpasswd;
    }

    include tls.conf;
 
}

# Seedbox Sonarr - seedauto.sene.ovh
server {
    listen 80;
    listen [::]:80;
    
    server_name seedauto.sene.ovh www.seedauto.sene.ovh;
    return 301 https://seedauto.sene.ovh/;
}
server{
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    
    server_name  seedauto.sene.ovh;

    ssl_certificate /etc/letsencrypt/live/seedauto.sene.ovh/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/seedauto.sene.ovh/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/seedauto.sene.ovh/fullchain.pem;
  
    location / {
        proxy_pass http://transmission.sonarr:9091/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        
        auth_basic "Que est le jeu ?";
        auth_basic_user_file .htpasswd;
    }

    include tls.conf;
 
}

# Sonarr - sonarr.sene.ovh
server {
    listen 80;
    listen [::]:80;
    
    server_name sonarr.sene.ovh www.sonarr.sene.ovh;
    return 301 https://sonarr.sene.ovh/;
}
server{
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    
    server_name  sonarr.sene.ovh;

    ssl_certificate /etc/letsencrypt/live/sonarr.sene.ovh/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/sonarr.sene.ovh/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/sonarr.sene.ovh/fullchain.pem;
  
    location / {
        proxy_pass http://sonarr:8989/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    include tls.conf;
    
}

# Jackett - jackett.nyanlout.re
server {
    listen 80;
    listen [::]:80;
    
    server_name jackett.nyanlout.re www.jackett.nyanlout.re;
    return 301 https://jackett.nyanlout.re/;
}
server{
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    
    server_name  jackett.nyanlout.re;

    ssl_certificate /etc/letsencrypt/live/jackett.nyanlout.re/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/jackett.nyanlout.re/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/jackett.nyanlout.re/fullchain.pem;
  
    location / {
        proxy_pass http://jackett:9117/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    include tls.conf;
    
}

# Jackett - jackett.sene.ovh
server {
    listen 80;
    listen [::]:80;
    
    server_name jackett.sene.ovh www.jackett.sene.ovh;
    return 301 https://jackett.sene.ovh/;
}
server{
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    
    server_name  jackett.sene.ovh;

    ssl_certificate /etc/letsencrypt/live/jackett.sene.ovh/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/jackett.sene.ovh/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/jackett.sene.ovh/fullchain.pem;
  
    location / {
        proxy_pass http://jackett:9117/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    include tls.conf;
    
}

# Mattermost - chat.sene.ovh
server {
    listen 80;
    listen [::]:80;
    
    server_name chat.sene.ovh www.chat.sene.ovh;
    return 301 https://chat.sene.ovh/;
}
server{
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    
    server_name  chat.sene.ovh;

    ssl_certificate /etc/letsencrypt/live/chat.sene.ovh/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/chat.sene.ovh/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/chat.sene.ovh/fullchain.pem;
  
    location / {
        proxy_pass http://mattermost:8065;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
    
    location /api/v3/users/websocket {
        proxy_pass http://mattermost:8065;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    client_max_body_size 4G;
    keepalive_timeout 10;

    include tls.conf;
    
}
